#form {
  margin-bottom: 2em;

  textarea {
    margin-top: 0.5em;
  }
}

#source-pizza-figlet {
  pre {
    white-space: pre;
    overflow: scroll;
    word-wrap: normal;
  }
}

#result-pizza-figlet {
  .panel-body {
    white-space: nowrap;
    overflow: scroll;
  }

  img.emoji {
    width: 20px;
    height: 20px;
    display: inline;
  }
}

// Sticky footer styles
// refs: http://getbootstrap.com/examples/sticky-footer/sticky-footer.css

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  padding-top: 1em;
}
