<div class="page-header">
    <h1>Pizza FIGlet</h1>
</div>

<div class="row" >
    <div class="col-xs-12 col-md-5">
        <component is="input"></component>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6">
        <component is="source" source="{{emojiText}}"></component>
    </div>
    <div class="col-xs-12 col-md-6">
        <component is="preview" names="{{emojiList}}"></component>
    </div>
</div>

<div id="footer">
    <p>
        &copy; 2014 Wataru MIYAGUNI
    </p>
    <p>
        Powered by <a href="http://vuejs.org/">Vue.js</a> and <a href="https://github.com/scottgonzalez/figlet-js">FIGlet.js</a>
    </p>
</div>
